/* Body Css */
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}


/* HEADER */
header{
    background-color: #161616;
    border-radius: 30px;
    width: 1321px;
    height: 646px;
    align-items: center;
    display: flex;
    margin: 0 auto;
    position: absolute;
    left: 140px;
    top: 50px;

}

.header-left{
    margin: 0 100px;
    /* margin: 0 100px 0 100px; */
}
.header-left h1{
    font-size: 70px;
    color: #fff;
    line-height: 1.1em;
}
.header-left p{
    color: #fff;
}

.button{
    color: #fff;
    background-color: #DD0000;
    border-radius: 5px;
    padding: 16px 25px;
    border: none;
    font-size: 20px;
}


.header-right img{
    margin-right: 100px;
}