/* Body & Common Css */
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.container{
    max-width: 1321px;
    margin: 0 auto;
    margin-top: 130px;
}

.red-button{
    color: #fff;
    background-color: #DD0000;
}

/* HEADER */
header{
    background-color: #161616;
    border-radius: 30px;
    width: 1321px;
    height: 646px;
    align-items: center;
    display: flex;
    margin: 40px auto 0;

}

.header-left{
    margin: 0 100px;
}
.header-left h1{
    font-size: 70px;
    color: #fff;
    line-height: 1.1em;
}
.header-left p{
    color: #fff;
}

 /* Header Button */
 .button{
    color: #fff;
    background-color: #DD0000;
    border-radius: 5px;
    padding: 16px 25px;
    border: none;
    font-size: 20px;
    cursor: pointer;
}
.button:hover{
    color: #DD0000;
    background-color: #fff;
}


.header-right img{
    margin-right: 100px;
    position: relative;
    top: 70px;
}



/* BLOG */
.main-blog{
    display: flex;
}

/* Match Area Button */
.match-area{
    width: 312px;
    height: 312px;
    background: #161616;
    border-radius: 10px;
    margin-right: 24px;
}
.match-three-button{
    display: flex; 
    align-items: center; 
    justify-content: space-around;
    flex-direction: column;
    height: 310px;
}
.match-three-button button{
    width: 252px;
    height: 64px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
}


/* Match Content */
.match-content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.single-match{
    width: 312px;
    height: 362px;
    border: 1px solid #E8E8E8;
    border-radius: 10px;
}
.single-match-content{
    padding: 10px 17px;
}
.single-match-content a{
    text-decoration: none;
    border: 1px solid #000;
    border-radius: 1px solid #161616;
    border-radius: 5px;
    color: #000;
    padding: 4px 14px;
}
.single-match-content p{}
.match-icon{
    display: flex;
    align-items: center;
}

.match-icon img{
    padding: 0 10px;
}



/* VIEW ALL */
.view-all{
    text-align: center;
}
.view-all button{
    padding: 14px 30px;
    cursor: pointer;
    margin-top: 50px;
    background-color: #DD0000;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 20px;
    /* font-weight: 400; */
}

/* FOOTER */
footer{
    margin-top: 130px;
    height: 444px;
    background: #161616;
    color: #fff;
    text-align: center;
}
footer h2{
    font-size: 40px;
    padding-top: 100px;
}
footer hr{
    width: 75%;
    border: 1px solid rgba(255, 255, 255, 0.1);
}
.footer-nav{
    margin: 60px 0 80px;
}
.footer-nav a{
    text-decoration: none;
    padding: 0 20px;
    color: #B9B9B9;
}

/* Social Media */
.social-media{}
.social-media a{
    color: #fff;
    margin: 0 10px;
}




/* UPCOMING MATCH */
.match-live-content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.upcoming-match{
    width: 312px;
    height: 242px;
    border: 1px solid #E8E8E8;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.match-flag-logo{
    width: 280px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.match-flag-logo img{}
.match-flag-logo h3{}
.match-flag-content{}
.match-flag-content h3{}
.match-flag-content p{}




/* HOME PAGE RESPONSIVE */

/* Mobile */
@media screen and (max-width:576px){
    header{
        flex-direction: column;
        padding: 5% 10% 0;
        text-align: center;
    }
    .header-left h1 {
        font-size: 21px;
    }
    .header-left p {
        margin: 0 330px;
    }
    .button {
        margin-top: 20px;
    }
    .header-right img {
        width: 74%;
        margin: 0 auto;
    }
    .match-area{
        background: none;
    }
    .match-three-button{
        width: 100%;
    }
    .container{
        flex-direction: column;
        display: grid;
    }
    .main-blog, .match-content{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}